<header class="header">
  <div class="container header__wrapper">
    <a href="./#hero" class="logo">YIELD<span>_</span>TRACK</a>

    <nav class="nav">
      <ul class="nav__list">
        <li><a href="./#hero" class="nav__link">Главная</a></li>
        <li><a href="./#strategy" class="nav__link">Стратегия</a></li>
        <li><a href="./#experience" class="nav__link">Опыт</a></li>
        <li><a href="./#blog" class="nav__link">Блог</a></li>
      </ul>
    </nav>

<div class="header__actions">
  <a href="./#contact" class="btn btn--header desktop-only-btn">Связаться</a>

  <button class="burger" id="burger-menu" aria-label="Открыть меню">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>
  </div>
</header>
<div class="mobile-menu" id="mobile-menu">
  <nav class="mobile-menu__wrapper">
    <ul class="mobile-menu__list">
      <li><a href="./#hero" class="mobile-menu__link">Главная</a></li>
      <li><a href="./#strategy" class="mobile-menu__link">Стратегия</a></li>
      <li><a href="./#experience" class="mobile-menu__link">Опыт</a></li>
      <li><a href="./#blog" class="mobile-menu__link">Блог</a></li>
    </ul>
    <div class="mobile-menu__footer">
      <a href="./#contact" class="btn btn--primary mobile-menu__btn">Бесплатная консультация</a>
      <div class="mobile-menu__contact-info">
        <a href="mailto:hello@yield-track.fit">hello@yield-track.fit</a>
        <span>Milano, Italy</span>
      </div>
    </div>
  </nav>
</div>